.card-img-top {
    height: 400px; 
    width: 200px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .img-fluid{
    width: 200px !important;
    height: 100px !important;
  }